<section class="memo-list-container">
  <h2 class="main-title">メモの一覧</h2>
  <ul class="memo-list">
  <% memos.each do |memo| %>
    <li class="memo-list__item">
      <a class="memo-list__link" href="/memos/<%= memo.id %>">
        <time class="memo-list__updated_at" datetime="<%= memo.updated_at.strftime('%F') %>">
          <%= format_as_date(memo.updated_at) %>
        </time>
        <h3 class="memo-list__title"><%= memo.title %></h3>
        <span class="memo-list__content"><%= memo.content %></span>
      </a>
    </li>
  <% end %>
  </ul>
  <div class="buttons-container">
    <a class="button button--primary" role="button" href="/memos/new">追加</a>
  </div>
</section>
